<div class="container">
  <form class="form" novalidate (ngSubmit)="addItem()" [formGroup]="form"> <!-- [formGroup] directive, du code vers le template (on relie ce formulaire à la variable form) -->
    <div class="form-group">
      <input formControlName="name" type="text" class="form-control" name="name" placeholder="Nom et prénom">
      <div *ngIf="isValid('name')" class="alert alert-danger">Champ invalide</div>
    </div>
    <div class="form-group">
      <input formControlName="ref" type="text" class="form-control" name="reference" placeholder="ex : 1234">
      <div *ngIf="isValid('ref')" class="alert alert-danger">Champ invalide</div>
    </div>
    <div class="form-group">
      <select formControlName="state" class="form-control" name="state">
        <option [ngValue]="0">A livrer</option>
        <option [ngValue]="1">En cours de livraison</option>
        <option [ngValue]="2">Commande livrée</option>
      </select>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Envoyer</button> <!-- disabled si ... -->
  </form>
</div>
