<div class="container">
  <div class="navibar-light">
    <form action="form-inline">
      <input (keyup)="$event" #recherche class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
<div class="container">
  <div *ngFor="let item of collection | filter:recherche.value" class="card">
    <div class="card-header">
      <span [appState]="item.state"></span> <!-- Entre crochet car on veut faire passer des infos -->
    </div>
    <div class="card-body">
      <h4 class="card-title">{{item.name}}</h4>
      <p class="card-text">{{item.reference}}</p>
      <div *ngIf="2 !== item.state">
          <button class="btn btn-primary" *ngIf="1 !== item.state" (click)="changeState(item, 1)">En cours</button>
          <button class="btn btn-primary" (click)="changeState(item, 2)">Livré</button>
      </div>
    </div>
  </div>
</div>
